# app/views/survey/answers.html.erb
<h1><%= @survey.name %> Answers</h1>

<%= form_for(@survey) do |f| %>
  <h3><%= current_user.name %></h3>
  <table>
    <thead>
      <tr>
        <td>Questions</td>
        <td>Answer</td>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| -%>
      <tr>
        <td><%= question.encfile %> / <%= question.decfile %></td>
        <td>
        <%= f.fields_for :questions, question do |q| %>
          <%= q.fields_for :answers, question.answers.find_or_initialize_by(user: current_user) do |a| %>
            <%= a.number_field :mark %>
            <%= a.hidden_field :user_id, value: current_user.id %>
          <% end %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>